@model IEnumerable<ReportItemModel>

<div id="report">
    @if (Model != null && Model.Count() > 0)
    {
        string recordCount = Model.Count() == 1 ? "1 record found" : Model.Count() + " records found.";
        <p class="bg-secondary form-control-plaintext">
            @recordCount
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.VehicleBrand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VehicleModel)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.VehicleYear)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.VehiclePrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VehicleColor)
                    </th>

                    @* <th>
                @Html.DisplayNameFor(model => model.Description)
                </th> *@
                    <th>
                        @Html.DisplayNameFor(model => model.IsSold)
                    </th>



                    <th>
                        @Html.DisplayNameFor(model => model.Customer)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleBrand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleModel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehiclePrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleColor)
                        </td>


                        @* <td>
                @Html.DisplayFor(modelItem => item.VehicleDescription)
                </td> *@
                        <td>
                            @Html.DisplayFor(modelItem => item.IsSold)
                        </td>



                        <td>
                            @Html.DisplayFor(modelItem => item.Customer)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-danger">No records found.</p>
    }

</div>
